*{
    height: auto;
    width: 100vw;
    background-color: black;
    color: white;
}
.head{
    display: flex;
    justify-content: space-evenly;
}
.section{
    width: 100vw;
    height: auto;
}
.button{
    border: solid 2px white;
    padding: 10px;
}